html,
body,
.wrap {
    height: 100%;
    background-color: #E1F5FC;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #D5D5D5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 80px;
}

header h1 {
    font-size: 0.8rem;
    width: 60%;
    text-align: right;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

header ul {
    display: flex;
}

header ul li {
    color: #000;
}

header ul li a {
    display: block;
    color: #beb4ac;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding: 20px 40px 20px 0;
    letter-spacing: 3px;
}

header ul li a:hover {
    color: #877a6f;
}

header ul li a.on {
    color: #877a6f;
}

/* main visual */
#main_visual {
    width: 100%;
    height: 100%;
    background: url('../img/space-3262811_1920.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 auto;
    background-color: #050641;
    /* background-attachment: fixed; */
}

#main_visual .main_visual_text {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 500%;
    padding-top: 15%;
    font-family: 'Rowdies', cursive;
    font-weight: 500;
    color: #fff;
}

#main_visual .main_visual_text p {
    margin-top: 35px;
    font-size: 50%;
}

#main_visual .star img {
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes star1 {
    0% {
        opacity: 1;
    }

    30% {
        transform: scale(1.2);
    }

    to {
        opacity: 0;
        transform: rotate(80deg);
    }
}

#main_visual .star img:nth-child(1) {
    top: 200px;
    right: 200px;
    width: 25px;
    animation-name: star1;
    animation-duration: 1.7s;
}

@keyframes star2 {
    0% {
        opacity: 1;
    }

    30% {
        transform: scale(1.2);
    }

    to {
        opacity: 0;
        transform: rotate(-100deg);
    }
}

#main_visual .star img:nth-child(2) {
    top: 500px;
    left: 300px;
    width: 25px;
    animation-name: star2;
    animation-duration: 1.8s;
}

@keyframes star3 {
    0% {
        opacity: 1;
    }

    30% {
        transform: scale(1.2);
    }

    to {
        opacity: 0;
        transform: rotate(60deg);
    }
}

#main_visual .star img:nth-child(3) {
    top: 200px;
    left: 500px;
    width: 20px;
    animation-name: star3;
    animation-duration: 2s;
}

/* ABOUT SECTION */
#about,
#contact {
    width: 100%;
    background-color: #E1F5FC;
    padding: 100px 0;
}

section h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: #877A6F;
}

section .line {
    background: linear-gradient(to right, #beb4ac, #877a6f, #beb4ac);
    width: 120px;
    height: 1px;
    margin: 20px auto 50px auto;
    /* border-radius: 10px; */
}

#about>ul {
    width: 70%;
    margin: 0 auto;
}

#about>ul>li {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 50px;
}

#about ul li h3 {
    font-size: 1.1rem;
    text-align: left;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 30px auto;
    letter-spacing: 1px;
    position: absolute;
    top: -50px;
    padding: 10px 20px;
    background-color: #BEB4AC;
    border-radius: 10px 10px 0 10px;
    font-weight: 700;
    color: #F5F2EF;
    letter-spacing: 2px;
}

#about h5 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 17px;
}

/* ABOUT PROFILE */
#about .about_profile {
    position: relative;
}

#about .about_profile .profile_img_text {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#about .about_profile .profile_img_text>div {
    /* border: 1px solid #beb4ac; */
    width: 40%;
    margin: 0 auto 20px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 0;
}

#about .about_profile .profile_img_text img {
    border-radius: 60%;
    /* border: 1px solid red; */
    margin: 0 auto 30px auto;
}

#about .about_profile .profile_img_text ul h5 {
    text-align: left;
}

#about .about_profile .profile_img_text p {
    line-height: 30px;
    font-size: 14px;
}

#about .about_profile .profile_img_text ul {
    /* border: 1px solid red; */
    width: 50%;
}

#about .about_profile .profile_img_text ul li {
    margin-bottom: 50px;
}

#about .about_profile .profile_img_text ul li:last-child {
    margin-bottom: 0;
    /* border: 1px solid lime */
}

/* ABOUT SKILL */
#about .about_skill {
    position: relative;
}

#about .about_skill ul {
    /* width:80%; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#about .about_skill ul li {
    /* border:1px solid lime; */
    margin: 0 auto;
}

#about .about_skill ul li div:nth-child(1) {
    background-color: #beb4ac;
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    height: 140px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
}

#about .about_skill ul li .html_icon {
    background-image: url('../img/html_icon.png');
}

#about .about_skill ul li .css_icon {
    background-image: url('../img/css_icon.png');
}

#about .about_skill ul li .js_icon {
    background-image: url('../img/js_icon.png');
}

#about .about_skill ul li .skill_desc {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* border:1px solid red; */
}

#about .about_skill ul li .skill_desc p {
    line-height: 25px;
    font-size: 14px;
}

/* PORTFOLIO SECTION */
#portfolio {
    width: 100%;
    padding: 100px 0;
}

#portfolio ul {
    margin: 100px auto;
}

#portfolio ul li {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    background-color: #fff;
    padding-top: 50px;
}

#portfolio ul li img {
    background: #fff;
    width: 40%;
}

#portfolio ul li .portfolio_text {
    width: 40%;
    /* border: 1px solid blue; */
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}

#portfolio ul li .portfolio_text h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

#portfolio ul li .portfolio_text h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

#portfolio ul li .portfolio_text p {
    margin-bottom: 50px;
}

#portfolio ul li .portfolio_text button {
    padding: 10px 80px;
    font-size: 20px;
    background-color: #877a6f;
    border: 1px solid grey;
    cursor: pointer;
    color: #beb4ac;
    border-radius: 10px;
}

#portfolio ul li.portfolio_linefriend {
    flex-direction: row-reverse;
}

#portfolio ul li.portfolio_linefriend .portfolio_text {
    text-align: right;
}

/* CONTACT SECTION */
#contact {
    width: 100%;
    background-color: #006F8A;
    padding: 100px 0;
}

#contact ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 100px;
    /* border:1px solid green; */
}

#contact ul li {
    width: 25%;
    height: 200px;
    border: 5px solid #BEB4AC;
    border-radius: 15px;
    padding: 40px 0;
}

#contact ul li a {
    font-weight: 100;
    display: block;
    margin: 0 auto;
    /* border: 1px solid red; */
    text-align: center;
    padding: 20px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#contact ul div {
    width: 80px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

#contact ul div img {
    width: 80px;
}

footer {
    height: 200px;
    background: #BEB4AC;
}