html,
body,
.wrap {
    height: 100%;
    background-color: #E1F5FC;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #D5D5D5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 80px;
}

header h1 {
    font-size: 15px;
    width: 60%;
    text-align: right;
    font-family: 'Quantico', sans-serif;
    letter-spacing: 2px;
    color: #006F8A;
    font-weight: 900;
    position: absolute;
    right:30px;
}

header button{
    display:none;
}

header ul {
    display: flex;
    position: absolute;
    left:30px;
}

header ul li {
    color: #000;
}

header ul li a {
    display: block;
    color: rgb(0, 111, 138, 0.7);
    font-size: 17px;
    font-weight: 700;
    font-family: 'Quantico', sans-serif;
    padding: 20px 40px 20px 0;
    letter-spacing: 3px;
}

header ul li a:hover {
    color: rgb(0, 111, 138, 1);
}

header ul li a.on {
    color: rgb(0, 111, 138, 1);
}

/* main visual */
#main_visual {
    width: 100%;
    height: 100%;
    background: url('../img/main_visual.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 auto;
    background-color: #050641;
    background-position: bottom center;
}

#main_visual .main_visual_text {
    width: 50%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 500%;
    padding-top: 15%;
    font-family: 'Quantico', sans-serif;
    font-weight: 500;
    color: #fff;
}

#main_visual .main_visual_text p {
    margin-top: 35px;
    font-size: 50%;
}

#main_visual .star img {
    position: absolute;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes star1 {
    0% {
        opacity: 1;
    }

    30% {
        transform: scale(1.2);
    }

    to {
        opacity: 0;
        transform: rotate(80deg);
    }
}

#main_visual .star img:nth-child(1) {
    top: 200px;
    right: 200px;
    width: 25px;
    animation-name: star1;
    animation-duration: 1.7s;
}

@keyframes star2 {
    0% {
        opacity: 1;
    }

    30% {
        transform: scale(1.2);
    }

    to {
        opacity: 0;
        transform: rotate(-100deg);
    }
}

#main_visual .star img:nth-child(2) {
    top: 500px;
    left: 300px;
    width: 25px;
    animation-name: star2;
    animation-duration: 1.8s;
}

@keyframes star3 {
    0% {
        opacity: 1;
    }

    30% {
        transform: scale(1.2);
    }

    to {
        opacity: 0;
        transform: rotate(60deg);
    }
}

#main_visual .star img:nth-child(3) {
    top: 200px;
    left: 500px;
    width: 20px;
    animation-name: star3;
    animation-duration: 2s;
}

@keyframes rocket {
    0% {
        opacity: 0;
        bottom: 100px;
        right: 100px;
    }

    30% {
        opacity: 1;
        transform: scale(1.2);
        bottom: 50%;
        right: 15%;
        transform: rotate(-30deg);
    }

    70% {
        bottom: 70%;
        transform: rotate(-90deg);
    }

    100% {
        opacity: 0;
        bottom: 60%;
        right: 80%;
        transform: rotate(-110deg);
    }
}

#main_visual .star img:nth-child(4) {
    width: 50px;
    animation-name: rocket;
    animation-duration: 5s;
}

/* ABOUT SECTION */
#about,
#contact {
    width: 100%;
    background-color: #E1F5FC;
    padding: 100px 0;
}

section h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Quantico', sans-serif;
    letter-spacing: 2px;
    color: #006F8A;
}

section .line {
    background: linear-gradient(to right, #B8E9F0, #006F8A, #B8E9F0);
    width: 120px;
    height: 1px;
    margin: 20px auto 50px auto;
}

#about>ul {
    width: 70%;
    margin: 0 auto;
}

#about>ul>li {
    background-color: #fff;
    border-radius: 10px;
    padding: 80px 20px;
    margin-bottom: 50px;
    border: 5px dashed #006F8A;
}

#about ul li h3 {
    font-size: 1.1rem;
    text-align: left;
    font-weight: 300;
    font-family: 'Quantico', sans-serif;
    margin: 30px auto;
    letter-spacing: 1px;
    position: absolute;
    top: -50px;
    padding: 10px 20px;
    background-color: #006F8A;
    border-radius: 10px 10px 0 10px;
    font-weight: 700;
    color: #F5F2EF;
    letter-spacing: 2px;
}

#about h5 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    color:#4791AE;
}

#about p{
    line-height: 28px;
    font-size: 15px;
    font-weight: 300;
}

/* ABOUT PROFILE */
#about .about_profile {
    position: relative;
}

#about .about_profile .profile_img_text {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Noto Sans KR', sans-serif;
}

#about .about_profile .profile_img_text>div {
    width: 40%;
    margin: 0 auto 20px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
}

#about .about_profile .profile_img_text .profile_img{
    background-image: url('../img/yesol.jpg');
    background-repeat: no-repeat;
    background-size:350px;
    background-position: -150px -50px;
    border-radius: 60%;
    margin: 0 auto 30px auto;
    width:200px;
    height:200px;
}

#about .about_profile .profile_img_text ul h5 {
    text-align: left;
}

#about .about_profile .profile_img_text ul {
    width: 50%;
}

#about .about_profile .profile_img_text ul li {
    margin-bottom: 50px;
}

#about .about_profile .profile_img_text ul li:last-child {
    margin-bottom: 0;
}

/* ABOUT SKILL */
#about .about_skill {
    position: relative;
}

#about .about_skill ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#about .about_skill ul li {
    margin: 0 auto;
    width:30%;
}

#about .about_skill ul li div:nth-child(1) {
    background-color: #FEF8E0;
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
    width: 140px;
    height: 140px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px gray;
}

#about .about_skill ul li .html_icon {
    background-image: url('../img/html_icon.png');
}

#about .about_skill ul li .css_icon {
    background-image: url('../img/css_icon.png');
}

#about .about_skill ul li .js_icon {
    background-image: url('../img/js_icon.png');
}

#about .about_skill ul li .skill_desc {
    font-family: 'Noto Sans KR', sans-serif;
}


/* PORTFOLIO SECTION */
#portfolio {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
}

#portfolio ul li {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    padding-top: 50px;
    width: 80%;
    margin: 0 auto;
}

#portfolio ul li img {
    background: #fff;
    width: 35%;
}

#portfolio ul li .portfolio_text {
    width: 40%;
    margin-top: 50px;
}

#portfolio ul li:nth-child(2n) .portfolio_text{
    text-align: right;
}

#portfolio ul li .portfolio_text h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Noto Sans KR', sans-serif;
    color:#4791AE;
}

#portfolio ul li .portfolio_text h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

#portfolio ul li .portfolio_text p {
    margin-bottom: 50px;
    line-height: 25px;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
}

#portfolio ul li .portfolio_text button {
    padding: 10px 80px;
    font-size: 20px;
    background-color: rgba(0, 111, 138, 0.7);
    border: 1px solid grey;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
}

#portfolio ul li .portfolio_text button:hover {
    background-color: rgba(0, 111, 138, 1);
}

#portfolio ul li:nth-child(2n) {
    flex-direction: row-reverse;
}

#portfolio ul li:nth-child(2n).portfolio_text {
    text-align: right;
}

/* CONTACT SECTION */
#contact {
    width: 100%;
    height:550px;
    background-color: #E1F5FC;
    padding: 100px 0;
}

#contact ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 100px;
    position: relative;
}

#contact ul li {
    width: 250px;
    height: 250px;
    background-color: #006F8A;
    border-radius: 50%;
    padding: 40px 0;
    position: absolute;
    top:100px;
    bottom:-50px;
    opacity: 0.1;
}

#contact ul li.ani{
    opacity: 1;
    top:0;
    transition: all .5s ease;
}

#contact ul li:nth-child(2) {
    left:50%;
    transform: translate(-50%);
    transition-delay: .2s;
}

#contact ul li:nth-child(3) {
    right:0;
    transition-delay: .4s;
}

/* #contact ul li::before {
    position: absolute;
    top: 0;
    content: "";
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: gray;
    opacity: 0.7;
} */

#contact ul li:hover {
    animation-name: contact-ani;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: .5s;
}

@keyframes contact-ani {
    0% {
        top:-10px;
    }

    100% {
        top:0
    }
}

#contact ul li div {
    margin: 30px 0 10px 0;
    text-align: center;
}

#contact ul li i {
    color: #fff;
    margin: 0 auto;
}

#contact ul li a p {
    font-weight: 100;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

/* FOOTER */
footer {
    height: 200px;
    background: #006F8A;
    color: #fff;
    text-align: center;
    padding-top: 100px;
    font-family: 'Noto Sans KR', sans-serif;
}