/* HEADER */
header {
    /* border: 1px solid red; */
}

header .hambuger {
    display: block;
    position: absolute;
    left: 20px;
    top: 30px;
    padding: 0;
    width: 25px;
    height: 25px;
}

header a.on span:nth-child(1) {
    transform: rotate(45deg);
    transform-origin:left top;
    transition: all .3s ease;
}

header a.on span:nth-child(2) {
    display: none;
}

header a.on span:nth-child(3) {
    transform : rotate(-45deg);
    transform-origin:left bottom;
    transition: all .3s ease;
}

header a span {
    width: 25px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 0;
    border-radius: 10px;
}

header a span:nth-child(1) {
    top: 0;
}

header a span:nth-child(2) {
    top: 8px;
}

header a span:nth-child(3) {
    top: 16px;
}

header ul {
    display: none;
    flex-flow: column;
    position: absolute;
    top:80px;
    left:-1000px;
    transition: all .5s linear;
    opacity: 0;
    width:0;
}

header ul.on {
    display:block;
    background-color:#fff;
    width:100%;
    left:0;
    opacity: 1;
}

header ul li{
    border:1px solid red;
    padding-left:20px;
}

header h1{
    width:100%;
}

/* ABOUT */
#about>ul>li {
    padding: 30px 0;
}

#about .about_profile .profile_img_text {
    flex-flow: column;
}

#about .about_profile .profile_img_text>div {
    width: 80%;
}

#about .about_profile .profile_img_text p {
    width: 100%;
}

#about .about_profile .profile_img_text ul {
    width: 85%;
    margin: 0 auto;
}

#about .about_profile .profile_img_text ul li {
    text-align: center;
    background-color: #E1F5FC;
    padding: 10px;
}

#about .about_skill ul {
    flex-flow: column;
}

#about .about_skill ul li {
    margin: 20px auto;
    text-align: center;
    width: 80%;
}

/* PORTFOLIO */
#portfolio {
    padding: 30px;
}

#portfolio ul li,
#portfolio ul li:nth-child(2n) {
    flex-flow: column;
}

#portfolio ul li img {
    margin: 0 auto;
    width:80%;
}

#portfolio ul li .portfolio_text {
    width: 80%;
    margin: 50px auto;
}

#portfolio ul li .portfolio_text,
#portfolio ul li:nth-child(2n) .portfolio_text{
    text-align: center;
}

#portfolio ul li .portfolio_text h3{
    margin-bottom: 10px;
}

#portfolio ul li .portfolio_text h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

#portfolio ul li .portfolio_text p {
    margin-bottom: 10px;
    font-size:13px;
}

/* CONTACT */
#contact {
    height: 100%;
    padding: 50px;
}

#contact ul,
#contact ul li.ani {
    position: static;
    flex-flow: column;
}

#contact ul li:nth-child(1),
#contact ul li:nth-child(2),
#contact ul li:nth-child(3) {
    position: static;
    margin-bottom: 50px;
}

#contact ul li:nth-child(2) {
    left: 0;
    transform: translate(0%);
}