/* header */
header {
    padding: 0 20px;
}

/* main visual */
#main_visual {
    background-size: cover;
}

#main_visual .main_visual_text {
    width: 100%;
    margin-top: 50px;
}

#main_visual .main_visual_text p {
    font-size: 50%;
    margin-top: 20px;
}

#main_visual .star img:nth-child(1) {
    top: 400px;
}

#main_visual .star img:nth-child(2) {
    top: 300px;
    left: 100px;
}

#main_visual .star img:nth-child(3) {
    left:200px;
    top: 600px;
}

/* ABOUT */
#about>ul {
    width: 90%;
}

#about ul li {
    flex: 100%;
}

#portfolio ul li {
    width: 100%;
}

#portfolio ul li img {
    background: #fff;
    width: 50%;
    margin: 0 30px;
}

#portfolio ul li .portfolio_text {
    width: 30%;
}

#portfolio ul li .portfolio_text h3 {
    font-size: 25px;
}

#portfolio ul li .portfolio_text h4 {
    font-size: 18px;
    line-height: 25px;
}

#portfolio ul li .portfolio_text p {
    font-size: 15px;
}

/* CONTACT */
#contact ul {
    width: 90%;
}